

{{#each comments as |commentss|}}



<div class="card w-100 mb-3">
  <div class="card-header bg-dark text-light">
    <div class="title d-flex justify-content-between align-items-center ">


          <small> Posted by {{commentss.user.username}} on {{format_date commentss.created_at}} </small>

    </div>
  </div>

  <div class="card-body bg-light">
    <div class="card-text">
      <div class="meta">  
        {{commentss.comment_text}}
      </div>
    </div>

  </div>
</div>
{{/each}}