<div class="card w-100 mb-3">
    <div class="card-header bg-dark text-light mh-50">
    </div>
    <div class="card-body bg-light">
        <div class="card-text">
            <form class="blogadd-form">
                <div class="blgtitle-form w-100">
                    Please enter blog title:
                    <textarea name="blog-title"></textarea>
                </div>
                <div class="blgcontent-form w-100">
                    Please enter blog content:
                    <textarea name="blog-body"></textarea>
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="/javascript/submitblog.js"></script>