<article class="blog">
  {{> blog-info blogs}}
</article>
<button id="editblog">Edit</button>
<button id="deleteblog">Delete</button>


<script src="/javascript/editblog.js"></script>
<script src="/javascript/deleteblog.js"></script>


