 {{#if loggedIn}}
<ol class="blog-list">
  
  <div class="card-column mb-2 ">
    {{#each blogs as |bloges|}}
    {{> dashboardblog-info bloges }}
    {{/each}} 
  </div>
</ol>
{{/if}}

 <button id="addblog">Add Blog</button>

<script src="/javascript/addblog.js"></script>
