<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">Signup</button>
  </div>
</form>

<a href="/login"> <div class="login text-secondary"> Login </div> </a>

<script src="/javascript/signup.js"></script>